@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background: #1a1a1a;
  background: linear-gradient(180deg, #1a1a1a 0%, #2c1a48 30%, #1a1a1a 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px; /* Adjust the size */
  height: 24px; /* Adjust the size */
  background: #1a1a1a; /* Color */
  cursor: pointer;
  border: 0.75px solid white;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 24px; /* Adjust the size */
  height: 24px; /* Adjust the size */
  background: #1a1a1a; /* Color */
  cursor: pointer;
  border: 0.75px solid white;
  border-radius: 50%;
}
